{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div id="home-wrapper">
    <h2>Home</h2>
    <nav id="home-navigation">
        <ul>
            <li><a href="rules">Rules</a></li>
            <li><a href="forum">Forum</a></li>
            <li><a href="register">Register</a></li>
            <li><a href="login">Login</a></li>
        </ul>
    </nav>
</div>
{% endblock %}
