{% extends 'base.html.twig' %}

{% block title %}Welcome to the forum !{% endblock %}

{% block body %}

<div id="forum-main-wrapper">
    <h2>Forum main page</h2>
    <nav id="forum-main-navigation">
        <ul>
            <li><a href="/news">News</a></li>
            <li><a href="/categories">Categories</a></li>
        </ul>
    </nav>
</div>
{% endblock %}
